html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, /*strong,*/ sub, sup, tt, var,
/*b,*/ u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video,a {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 22px;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

  * { Box-sizing: Border-box; }

.container{
    margin: auto;
}

.header{
    overflow:hidden;
    min-height:230px;
    background-color: #dcdcdc;
    padding: 65px 0;
}

.header-box{
    max-width:1000px;
    padding: 0 10px;
    margin:auto;
    min-height: 100px;
    color: #767676;
}

.company-title{
    width: 270px;
}

.company-icon{
    background-color: #777777;
    height:100px;
    width:100px;
    float:left;
}

.company-title span{
    float:left;
    width: 170px;
}

span{
    display:block;
}

.company-title h2{
    font-size: 30px;
    padding: 10px;
}

.company-title p{
    padding:8px 10px;
}

.numbers{
    float:right;
    font-size: 40px;
    font-family: 'Open Sans Condensed', sans-serif;
    line-height:40px;
}

.numbers p{
    padding: 5px;
}

.menu {
    background-color: #777777;
    padding: 29px 0 9px;
    text-align:center;
}

.menu div:last-child {
    border-right:none;
}

.menu-box{
    margin:auto;
    max-width: 1000px;
}

.menu-box div{
    display:inline-block;
    font-size:30px;
    color: white;
    padding: 0 15px;
    margin-bottom: 20px;
    border-right: 2px solid white;
}

.menu a{
    text-decoration:none;
}

.menu a:hover {
    text-decoration: underline;
}

a {
    color:inherit;
}

a:visited {
    color: inherit; 
} 

.slider {
    height: 400px;
    background-image: url("bubles.png");
    background-repeat: no-repeat;
}

.content{
    overflow:hidden;
    margin:auto;
    max-width : 1000px;
    padding: 30px 10px;
}



.footer{
    min-height:220px;
    background-color: #777777;
}

.footer-box{
    margin:auto;
    max-width: 1000px;
    padding: 50px 10px;
    height: 100%;
    color: white;
}

.about-company{
    float:left;
}

.mini-menu {
    position: absolute;
    left: calc(50% - 50px);
}

.about-developers{
    float:right;
}

.about-developers img{
    float:left;
}

.developers-icon{
    height: 38px;
    width:36px;
}

.about-developers p{
    width: 190px;
    display:inline-block;
}

/*end_of_main*/

.news-box{
    width: 350px;
    background-color: #777777;
    float: left;
    color:white;
    padding: 21px 34px;
}

h1{
    font-size: 40px;
    line-height:40px;
}

.center p, .news, .news-box>span {
    margin-top:30px;
}

.news-box>span{
    text-align:right;
}

.date{
    font-style:italic;
}

.center{
    width: calc(100% - 350px);
    float:left;
    color: #767676;
    padding: 21px 0px 21px 58px;
}

@media (max-width:767px) {
    .slider{
        display:none;
    }

    /*end_of_main*/

    .arrow{
        position:absolute;
        top:25px;
        right:5px;
        float:left;
        border: 10px solid transparent;	
        border-top: 11px solid white;
        clear:right;
    }
    .center{
        width:100%;
        padding-left:unset;
        padding-top:50px;
    }
    .content{
        position:relative;
        
    }
    .news-box {
        width:180px;
        padding:5px 15px 5px 5px;
       
        position:absolute;
        height:50px;
        top:5px;
        overflow:hidden;
        border-radius:10px;
        -webkit-transition:all 0.3s ease;
        z-index:2000;
    }
    .news-box:hover{
        padding-left:15px;
        top:5px;
        height:auto;
        left:0px;
        width:90%;
    }
}

@media (max-width:559px) {
    .company-title{
        overflow:hidden;
        margin:auto;
    }
    .numbers{
        float:none;
        text-align:center;
    }
    .header{
        padding:0;
    }
    .about-company,.about-developers{
        float:none;
    }
    .mini-menu{
        position:static;
    }
    .footer-box{
        padding:0;
    }
    .footer-box div{
        padding: 10px;
    }
    .content{
        padding-bottom:0;
    }
}
